/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/screen.scss */
html, body {
  min-height: 100%;
}

/* line 13, ../sass/screen.scss */
body {
  background-color: #ebeae9;
  font: 13.34px 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  padding-bottom: 40px;
}

/* line 21, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold;
}

/* line 26, ../sass/screen.scss */
h1 {
  margin-bottom: 1em;
}

/* line 27, ../sass/screen.scss */
p {
  margin: 1em 0;
}

/* line 29, ../sass/screen.scss */
a {
  color: #ee9853;
}

/* line 30, ../sass/screen.scss */
a:hover {
  color: #f3b481;
}

/* line 31, ../sass/screen.scss */
a:visited {
  color: #e97c25;
}

/* line 33, ../sass/screen.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 39, ../sass/screen.scss */
ol {
  list-style: decimal;
}

/* line 43, ../sass/screen.scss */
ul {
  list-style: square;
}

/* line 47, ../sass/screen.scss */
blockquote {
  color: #ee9853;
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 20px;
  position: relative;
  border-left: 5px solid #ebeae9;
}

/* line 59, ../sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 65, ../sass/screen.scss */
.title {
  font-size: 120%;
}

/* line 69, ../sass/screen.scss */
.container {
  display: block;
  width: 600px;
  margin: auto;
}

/* line 75, ../sass/screen.scss */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

/* line 80, ../sass/screen.scss */
ul.posts li {
  line-height: 1.75em;
  border-bottom: 1px solid #ebeae9;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* line 86, ../sass/screen.scss */
ul.posts li:last-of-type {
  border-bottom: none;
}
/* line 90, ../sass/screen.scss */
ul.posts li span.title {
  font-size: 120%;
  font-weight: bold;
}
/* line 94, ../sass/screen.scss */
ul.posts li span.title a {
  color: black;
}
/* line 99, ../sass/screen.scss */
ul.posts li span.date {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  text-transform: uppercase;
}
/* line 106, ../sass/screen.scss */
ul.posts li .content {
  -webkit-transition: 0.3s color;
  -moz-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
  color: #888888;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* line 112, ../sass/screen.scss */
ul.posts li .content:hover {
  color: #6f6f6f;
}

/* line 119, ../sass/screen.scss */
.header {
  background: #2a3945;
}
/* line 122, ../sass/screen.scss */
.header .container {
  text-align: left;
}
/* line 126, ../sass/screen.scss */
.header #self {
  -webkit-box-shadow: #555555 0px 1px 0px 1px;
  -moz-box-shadow: #555555 0px 1px 0px 1px;
  box-shadow: #555555 0px 1px 0px 1px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 7px;
  margin-top: -15px;
  margin-right: 15px;
  vertical-align: middle;
}

/* line 138, ../sass/screen.scss */
.header a {
  -webkit-transition: 0.3s color;
  -moz-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}

/* line 146, ../sass/screen.scss */
.header h1.title {
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 152, ../sass/screen.scss */
.header h1.title a {
  color: white;
}

/* line 156, ../sass/screen.scss */
.header h1.title a:hover {
  color: #7fadd1;
}

/* line 160, ../sass/screen.scss */
.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

/* line 165, ../sass/screen.scss */
.header a.extra:hover {
  color: #000;
}

/* line 169, ../sass/screen.scss */
.header .nav {
  float: right;
  margin-top: 25px;
}
/* line 173, ../sass/screen.scss */
.header .nav a {
  -webkit-transition: 0.3s color;
  -moz-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
  color: #f7f7f6;
  font-size: 16px;
  margin-left: 16px;
}
/* line 179, ../sass/screen.scss */
.header .nav a:hover {
  color: #dfdddc;
}

/* line 186, ../sass/screen.scss */
.site-container {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  display: block;
  margin-top: 3em;
}

/* line 195, ../sass/screen.scss */
.site {
  font-size: 115%;
  text-align: justify;
  margin: 0 auto 0;
  line-height: 1.5em;
}
/* line 201, ../sass/screen.scss */
.site .content {
  padding-left: 32px;
  padding-right: 32px;
}

/* line 207, ../sass/screen.scss */
.site .meta {
  color: #aaa;
}

/* line 212, ../sass/screen.scss */
.footer {
  -webkit-border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
  -ms-border-radius: 0px 0px 7px 7px;
  -o-border-radius: 0px 0px 7px 7px;
  border-radius: 0px 0px 7px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f0efee;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
  text-align: left;
}
/* line 224, ../sass/screen.scss */
.footer .contact-social {
  display: block;
  min-width: 300px;
}
/* line 229, ../sass/screen.scss */
.footer .social {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: 0.3s background;
  -moz-transition: 0.3s background;
  -o-transition: 0.3s background;
  transition: 0.3s background;
  background: #888888;
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  font-size: 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
/* line 242, ../sass/screen.scss */
.footer .social:hover {
  background: #a2a2a2;
}
/* line 246, ../sass/screen.scss */
.footer .social i {
  color: white;
}
/* line 250, ../sass/screen.scss */
.footer .social i > span {
  display: none;
}

/* line 256, ../sass/screen.scss */
.footer .contact {
  float: left;
  margin-right: 3em;
}

/* line 261, ../sass/screen.scss */
.footer .contact a {
  color: #8085C1;
}

/* line 265, ../sass/screen.scss */
.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

/* line 271, ../sass/screen.scss */
.footer .rss img {
  border: 0;
}

/* line 276, ../sass/screen.scss */
.post-thumbnail {
  -webkit-border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -ms-border-radius: 7px 7px 0px 0px;
  -o-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
}

/* line 280, ../sass/screen.scss */
.post.content {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* line 285, ../sass/screen.scss */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

/* line 291, ../sass/screen.scss */
.post ul, .post ol {
  margin-left: 1.35em;
}

/* line 295, ../sass/screen.scss */
.post code {
  font-family: monospace;
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

/* line 302, ../sass/screen.scss */
.post pre code {
  border: none;
}

/* terminal */
/* line 307, ../sass/screen.scss */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

/* line 313, ../sass/screen.scss */
.post pre.terminal code {
  background-color: #333;
}

/* line 317, ../sass/screen.scss */
.post-tweet {
  font-style: italic;
}
/* line 320, ../sass/screen.scss */
.post-tweet .twitter-mention-button {
  vertical-align: text-bottom;
}

/* line 325, ../sass/screen.scss */
.recent-posts {
  list-style: none;
}

/* line 330, ../sass/screen.scss */
#home .quote {
  -webkit-transform-origin: 50% 100% 50%;
  -moz-transform-origin: 50% 100% 50%;
  -ms-transform-origin: 50% 100% 50%;
  -o-transform-origin: 50% 100% 50%;
  transform-origin: 50% 100% 50%;
  -webkit-transform: perspective(300px) rotateX(25deg);
  -moz-transform: perspective(300px) rotateX(25deg);
  -ms-transform: perspective(300px) rotateX(25deg);
  -o-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

/* line 338, ../sass/screen.scss */
#home blockquote {
  color: #ee9853;
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 0;
  position: relative;
  border-left: 5px solid #ebeae9;
}

/* line 350, ../sass/screen.scss */
#about-me-img {
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 15px;
  margin-top: 15px;
}
