@import "compass/reset";
@import "compass/css3";
@import "variables";

// General styles
* {
  margin: 0;
  padding: 0;
}

html, body { min-height: 100%; }

body {
  background-color: $gray-color;
  font: 13.34px 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  padding-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: $orange-color; }
a:hover   { color: lighten($orange-color, 10%); }
a:visited { color: darken($orange-color, 10%); }

table {
  font-size: inherit;
  font: 100%;
}

// Not sure why reset drops list-style
ol {
	list-style: decimal;
}

ul {
  list-style: square;
}

blockquote {
  color: $orange-color;
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 20px;
  position: relative;
  border-left: 5px solid $gray-color;
}

img {
  max-width: 100%;
  height: auto;
}

// Home page
.title {
  font-size: 120%;
}

.container {
	display: block;
  max-width: 100%;
	width: 600px;
	margin: auto;
}

ul.posts {
  list-style-type: none;
  //margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
  border-bottom: 1px solid $gray-color;
  //margin-bottom: 10px;
  padding-bottom: 10px;

  &:last-of-type {
    border-bottom: none;
  }

  span.title {
    font-size: 120%;
    font-weight: bold;

    a {
      color: black;
    }
  }

  span.date {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
    text-transform: uppercase;
  }

  .content {
    @include transition(0.3s color);
    color: $dark-gray-color;
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover {
      color: darken($dark-gray-color, 10%);
    }
  }
}

// Header area
.header {
	background: $main-color;

	.container {
		text-align: left;
	}

	#self {
		@include box-shadow(darken($dark-gray-color, 20%) 0px 1px 0px 1px);
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 7px;
		margin-top: -15px;
		margin-right: 15px;
		vertical-align: middle;
	}
}

.header a {
	@include transition(0.3s color);
	font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}

.header h1.title {
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.header h1.title a {
  color: $white;
}

.header h1.title a:hover {
  color: $highlight-color;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.header .nav {
  float: right;
  margin-top: 25px;

  a {
    @include transition(0.3s color);
    color: lighten($gray-color, 5%);
    font-size: 16px;
    margin-left: 16px;

    &:hover {
      color: darken($gray-color, 5%);
    }
  }
}

// Site body
.site-container {
	@include border-radius(7px);
	@include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 2px 0px);
	@include box-sizing(border-box);
	background: white;
	display: block;
	margin-top: 3em;
}

.site {
  font-size: 115%;
  text-align: justify;
  margin: 0 auto 0;
  line-height: 1.5em;

  .content {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.site .meta {
  color: #aaa;
}

// Site footer
.footer {
	@include border-radius(0px 0px 7px 7px);
	@include box-sizing(border-box);
	background: lighten($gray-color, 2%);
	padding-left: 2em;
	padding-right: 2em;
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
  text-align: left;

  .contact-social {
  	display: block;
  	min-width: 300px;
  }

  .social {
  	@include border-radius(20px);
  	@include transition(0.3s background);
  	background: $dark-gray-color;
  	display: inline-block;
  	width: 36px;
  	height: 36px;
  	text-align: center;
  	font-size: 30px;
  	color: $white;
  	text-decoration: none;
  	margin-right: 5px;

  	&:hover {
  		background: lighten($dark-gray-color, 10%);
  	}

  	i {
  		color: $white;
  	}

  	i > span {
  		display: none;
  	}
  }
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

// Posts
.post-thumbnail {
  @include border-radius(7px 7px 0px 0px);
}

.post.content {
  padding-top: 32px;
  padding-bottom: 32px;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  font-family: monospace;
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post-tweet {
  font-style: italic;

  .twitter-mention-button {
    vertical-align: text-bottom;
  }
}

.recent-posts {
  list-style: none;
}

// Specific pages
#home .quote {
  @include transform-origin(50% 100%);
  @include transform(perspective(300px) rotateX(25deg));
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

#home blockquote {
  color: $orange-color;
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 0;
  position: relative;
  border-left: 5px solid $gray-color;
}

#about.content {
  padding-top: 32px;
  padding-bottom: 32px;
}

#about-me-img {
	width: 200px;
	height: 200px;
	float: right;
	margin-left: 15px;
	margin-top: 15px;
}
