<!DOCTYPE html>
<html>
    <!-- Hello there, check me out on Twitter! @dristic101 -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel='stylesheet' id='opensans-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A400italic%2C600italic%2C700italic%2C800italic%2C400%2C600%2C700%2C800&#038;ver=1.0' type='text/css' media='all' />

        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">

        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/screen.css">
    </head>
    <body>
      <div class="header">
        <div class="container">
          <img src="{{ site.url }}/images/self.jpg" id="self" alt="Dan Ristic" />
          <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        </div>
      </div>

      <div class="container site-container">
        <div class="site">
            {{ content }}
        </div>
        <div class="footer">
          <div class="contact">
            <p>
              Dan Ristic<br />
              Developer Evangelist and Front End Engineer<br />
              <a href="/about.html">About Me / Contact Me</a>
            </p>
          </div>
          <div class="contact-social">
            <p>
              <a href="http://github.com/dristic/" class="social" target="_blank"><i class="icon-github">
                <span>GitHub dristic</span></i>
              </a>
              <a href="http://twitter.com/dristic101/" class="social" target="_blank"><i class="icon-twitter">
                <span>Twitter @dristic101</span></i>
              </a>
              <a href="http://www.linkedin.com/pub/daniel-ristic/12/9a2/421" class="social" target="_blank">
                <i class="icon-linkedin"><span>LinkedIn daniel-ristic</span></i>
              </a>
              <a href="{{ site.url }}/feed.xml" class="social" target="_blank">
                <i class="icon-rss"><span>RSS Dan Ristic</span></i>
              </a>
            </p>
          </div>
        </div>
      </div>

    </body>
</html>
