---
layout: default
---
<h1 class="title">{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

<p class="post-tweet">
  Questions, comments, answers to the meaning of life?</i> &raquo; <a href="http://twitter.com/dristic101/" target="_blank"><i class="icon-twitter"><span>Twitter @dristic101</span></a>
</p>

<h1>Recent Posts</h1>
<ul>
  {% for post in site.posts %}
    <li>
      <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>
    </li>
  {% endfor %}
</ul>
